.mainWrapper{
    background-color: rgba(243,244,247);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.falseNavBar{
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: teal;
}

.falseNavBar h2{
    color: white;
    font-size: 2em;
    font-weight: bolder;
}

.upperContainer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.nextTournamentWrapper{
    position: relative;
    background-color: rgb(0, 115, 48);
    border-radius: 10px;
    width: 60%;
    height: 390px;
    display: flex;
    justify-content: space-between;
}

.nextTournamentWrapper img{
    width: 22%;

    margin-left: 10px;
}

.nextTournamentSubWrapper{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nextTournamentSubWrapper h2{
    color: white;
    font-size: 2.4em;
    font-weight: bolder;
}

.infoContainer{
    width:100%;
    color: white;
    display: flex;
    justify-content: flex-start;
}

.infoContainer div{
    display: flex;
    align-items: center;
    margin:10px;
}

.icon{
    font-size: 3em;
    margin-right: 10px;
}

.btnContainer{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.btnContainer button{
    background-color: white;
    width: 50%;
    height: 60px;
    border-radius: 60px;
    font-size: 1.5em;
    font-weight: 500;
    color: #007B34;
    margin-bottom: 20px;
    margin-right: 20px;
    z-index: 10;
    transition-duration: .4s;
}

.btnContainer button:hover{
    transform: scale(1.1);
    color: white;
    background-color: #009e42;
    cursor: pointer;
    transition-duration: .4s;
}

.halfCircle{
    background-color: #007B34;
    width: 30%;
    height: 95%;
    right: 0;
    bottom: 0;
    position: absolute;
    border-top-left-radius: 300px;
}

.falseFilters{
    background-color: teal;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.falseFilters h2{
    color: white;
    font-weight: bolder;
    font-size: 2em;
}